
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@import "./custom-palettes";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

// Import Roboto Serif
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;0,8..144,800;0,8..144,900;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700;1,8..144,800;1,8..144,900&display=swap');
// Import Roboto Flex
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');
// Import Roboto Mono
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

$frontend-typography: mat.define-typography-config(
    $display-4: mat.define-typography-level(7rem, 7rem, $font-family: 'Roboto Flex', $font-weight: 200),
    $display-3: mat.define-typography-level(3.5rem, 3.5rem, $font-family: 'Roboto Flex'),
    $display-2: mat.define-typography-level(2.8125rem, 2.8125rem, $font-family: 'Roboto Flex'),
    $display-1: mat.define-typography-level(2.125rem, 2.125rem, $font-family: 'Roboto Flex', $font-weight: 500),
    $headline: mat.define-typography-level(1.75rem, 1.75rem, $font-family: 'Roboto Flex', $font-weight: 500),
    $title: mat.define-typography-level(1.5rem, 1.5rem, $font-family: 'Roboto Flex', $font-weight: 200),
    $subheading-2: mat.define-typography-level(1.25rem, 1.25rem, $font-family: 'Roboto Flex', $font-weight: 400),
    $subheading-1: mat.define-typography-level(1.25rem, 1.25rem, $font-family: 'Roboto Flex', $font-weight: 200),
    $body-2: mat.define-typography-level(1rem, 1rem, $font-family: 'Roboto Flex', $font-weight: 500),
    $body-1: mat.define-typography-level(1rem, 1rem, $font-family: 'Roboto Flex', $font-weight: 400),
    $caption: mat.define-typography-level(0.875rem, 0.875rem, $font-family: 'Roboto Flex')
);

@include mat.core($frontend-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontend-primary: mat.define-palette($bs-primary-palette, 200, 50, 500);
$frontend-secondary: mat.define-palette($bs-secondary-palette, 400, 100, 700);
$frontend-tertiary: mat.define-palette($bs-tertiary-palette, 400, 100, 700);
$frontend-accent: mat.define-palette($bs-tertiary-palette, 400, 100, 700);
$frontend-neutral: mat.define-palette($bs-neutral-palette, 400, 100, 700);
$frontend-neutral-variant: mat.define-palette($bs-neutral-variant-palette, 400, 100, 700);

// The warn palette is optional (defaults to red).
$frontend-warn: mat.define-palette($bs-warn-palette, 400, 100, 700);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$frontend-theme: mat.define-dark-theme((
    color: (
        primary: $frontend-primary,
        secondary: $frontend-secondary,
        tertiary: $frontend-tertiary,
        accent: $frontend-accent,
        neutral: $frontend-neutral,
        neutral-variant: $frontend-neutral-variant,
        warn: $frontend-warn,
    )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($frontend-theme);

/* You can add global styles to this file, and also import other style files */

:root {
    font-optical-sizing: auto;
}
html, body { height: 100%; }
body { margin: 0; }
.mat-app-background { background-color: #1b1b1f; }
.mat-icon {
    font-family: 'Material Symbols Rounded', 'Material Icons' !important;
}

.mat-stepper-vertical {
    background-color: transparent;
}

button {
    text-transform: uppercase;
}

.link {
    color: $bs-primary-color;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid $bs-primary-color;
    padding-bottom: 2px;
}
