@import "src/styles";

.component-root {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-message {
    padding: 10px 0;
}

.container {
    flex-direction: column;
    min-width: 400px;
    padding: 25px;
    background-color: transparent;
    border-radius: 8px;

    @media screen and (max-width: 768px) {
        min-width: calc(100% - (2 * 25px));
    }
}

.logged-in-container {
    background-color: $bs-neutral-color;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    mat-form-field {
        width: 100%;
    }

    button {
        width: 100%;
        height: 5rem;
    }
}

p {
    align-self: flex-start;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 3.5rem;
}

.login-container {
    margin: 1rem 0;
}

.logged-in-message {
    font-size: 1.6rem;
}

.logged-in-actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    button {
        margin-left: 2rem;

        @media screen and (max-width: 768px) {
            margin: 0;
        }
    }

    @media screen and (max-width: 768px) {
        justify-content: space-between;
    }
}

.logo-background {
    position: fixed;
    bottom: -15%;
    right: -10%;
    width: 35%;
    z-index: -1000;

    @media screen and (max-width: 768px) {
        display: none;
    }
}
